/* src/App.css */
.weather-app {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
}

@media (max-width: 600px) {
  input,
  button {
    width: 100%;
    margin: 5px 0;
  }
}
